@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF_Pro_100.html") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF_Pro_400.html") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Astronomus";
  src: url("assets/fonts/Astronomus.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF_Pro_600.html") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF_Pro_700.html") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF_Pro_800.html") format("woff2");
  font-weight: 800;
  font-style: normal;
}
